shamefully-hoist=true
strict-peer-dependencies=false
# pnpm 将使用 bash-like shell 这个JavaScript 实现的执行器来运行脚本
shell-emulator=true
# "default":"https://registry.npmjs.org/"
# http://registry.npmmirror.com/
registry=https://registry.npmjs.org/
