:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	/* display: flex; */
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.card {
	padding: 2em;
}

#app {
	/* max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center; */
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

.bg-f-purple{
  width: 49px;
  height: 17px;
  display: inline-block;
  text-align: center;
  color: #5057EB;
  background: #F0F0FF;
  border-radius: 2px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  line-height: 17px;
  border-radius: 2px;
}
.bg-f-orange{
  width: 49px;
  height: 17px;
  display: inline-block;
  text-align: center;
  background: #FFF3E1;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FB9400;
  line-height: 17px;
  border-radius: 2px;
}
.bg-f-red{
  width: 49px;
  height: 17px;
  display: inline-block;
  text-align: center;
  background: #FFE8E8;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FF2614;
  line-height: 17px;
  border-radius: 2px;
}
.bg-f-green{
  width: 49px;
  height: 17px;
  display: inline-block;
  text-align: center;
  background: #D6F9E7;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #04C160;
  line-height: 17px;
  border-radius: 2px;
}
.bg-f-gray{
  width: 49px;
  height: 17px;
  display: inline-block;
  text-align: center;
  background: #EDEDED;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #8D8E8E;
  line-height: 17px;
  border-radius: 2px;
}
.text-f12{
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  line-height: 17px;
}
.text-f14{
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  line-height: 20px;
}
.text-f14-w500{
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 500;
  line-height: 20px;
}
.text-f16{
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 400;
  color: #121215;
  line-height: 22px;
}
.text-f16-w500{
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #121215;
  line-height: 22px;
}
.text-gray-56{
  color: #545456;
}
.text-gray-6c{
  color: #6A6C6C;
}
.text-black{
  color: #121215;
}
.bgc-ccc {
  background-color: #ccc !important;
}
